---
import Layout from "../layouts/Layout.astro";
import CategoryBanner from "../components/Category_banner.astro";
import Badge from "../components/Badge.astro";
import ProductCardList from "../components/ProductCardList.astro";
import bg from '../assets/index/card2.png';
import productosData from '../data/productos.js';

const title = "Igualacion - Industrias Polyvac";
const description = "Pagina de categoria";

// Filtrar productos de la categoría Igualacion
const productos = productosData.filter(p => p.categoria && p.categoria.toLowerCase() === "igualacion");
---

<Layout title={title} description={description}>
    <CategoryBanner imageUrl={bg} titulo="Tintas para Igualación"/>
    <div class="my-15">
        <Badge text="Igualación"/>
    </div>
    <section>
        <div class="grid grid-cols-1 lg:grid-cols-2">
            {productos.map(producto => (
              <ProductCardList
                titulo={producto.titulo}
                badgeType={1}
                badge="Igualación"
                descripcion={producto.descripcion}
                buttonHref={`/producto/${producto.id}`}
              />
            ))}
        </div>
    </section>
</Layout>
